<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
</head>
<body>
    <h2>Profile</h2>
    <hr>

    <table border="0" padding="4" spacing="0">
        <tr>
            <td width="120"><strong>Name:</strong></td>
            <td>samudrala susmitha</td>
        </tr>
        <tr>
            <td><strong>Role:</strong></td>
            <td>Associate Software Engineer</td>
        </tr>
        <tr>
            <td><strong>Focus:</strong></td>
            <td>Java &amp; Web Technologies</td>
        </tr>
    </table>

    <hr>
</body>
</html>