/* Universal Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Element Selector */
body{
    font-family: Arial;
    background-color: #f4f4f4;
}

/* Class Selector */
.header{
    background: darkblue;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Navigation using Flexbox */
.navbar{
    display: flex;
    justify-content: center;
    gap: 20px;
    background: black;
    padding: 15px;
}

/* Descendant Selector */
.navbar a{
    color: white;
    text-decoration: none;
}

/* Hero Section */
.hero{
    text-align: center;
    padding: 30px;
    margin: 20px;
    background: lightblue;
    border: 2px solid blue;
}

/* Flexbox Layout */
.flex-section{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.box{
    background: orange;
    padding: 30px;
    border: 2px solid black;
    width: 120px;
    text-align: center;
}

/* Grid Layout */
.grid-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin: 20px;
}

.card{
    background: lightgreen;
    padding: 30px;
    border: 2px solid green;
    text-align: center;
}

/* Position and Z-index */
.parent{
    position: relative;
    height: 150px;
    margin: 20px;
}

.red{
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    left: 50px;
    z-index: 1;
}

.blue{
    width: 100px;
    height: 100px;
    background: blue;
    position: absolute;
    left: 90px;
    top: 30px;
    z-index: 2;
}

/* Footer */
.footer{
    background: gray;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Responsive Design */
@media (max-width: 768px){

    .flex-section{
        flex-direction: column;
        align-items: center;
    }

    .grid-section{
        grid-template-columns: 1fr;
    }

    .navbar{
        flex-direction: column;
        align-items: center;
    }
}