body {
    font-family: Arial;
    background: #f2f4f7;
    margin: 0;
    padding: 30px;
}

.app {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
}

h1 {
    text-align: center;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background: #2563eb;
    color: white;
    cursor: pointer;
    margin: 5px;
}

#products,
#cart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.price {
    font-weight: bold;
}